<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container bg-secondary">
        <div class="question w-25 bg-info p-3 text-center m-auto mt-5">
            YOUR QUESTIONS
        </div>
        <div class="questionsList">
            <div class="card w-50 p-3 m-auto mt-3">
                <p class="questiontitle">Does Lida is crazy?</p>
                <div>
                    <div class="answer d-flex justify-content-between">
                        <p style="color: rgb(136, 223, 5);">crazy</p>
                        <img style="width: 7%;" src="../../images/green-tick-icon-vector-symbol-checkmark-isolated-white-background-checked-icon-correct-choice-sign-check-mark-checkbox-154491019.jpg" alt="">
                    </div>
                    <div class="answer d-flex">
                        <p>crazy</p>
                    </div>
                    <div class="answer d-flex">
                        <p>crazy</p>
                    </div>
                    <div class="answer d-flex">
                        <p>crazy</p>
                    </div>
                </div>
                
            </div>
            <div class="card w-50 p-3 m-auto mt-3">
                <p class="questiontitle">Does Lida is crazy?</p>
                <div>
                    <div class="answer d-flex justify-content-between">
                        <p style="color: #88df05;">crazy</p>
                        <img style="width: 7%;" src="../../images/green-tick-icon-vector-symbol-checkmark-isolated-white-background-checked-icon-correct-choice-sign-check-mark-checkbox-154491019.jpg" alt="">
                    </div>
                    <div class="answer d-flex">
                        <p>crazy</p>
                    </div>
                    <div class="answer d-flex">
                        <p>crazy</p>
                    </div>
                    <div class="answer d-flex">
                        <p>crazy</p>
                    </div>
                </div>
                
            </div>
            <div class="card w-50 p-3 m-auto mt-3">
                <p class="questiontitle">Does Lida is crazy?</p>
                <div>
                    <div class="answer d-flex justify-content-between">
                        <p style="color: rgb(136, 223, 5);">crazy</p>
                        <img style="width: 7%;" src="../../images/green-tick-icon-vector-symbol-checkmark-isolated-white-background-checked-icon-correct-choice-sign-check-mark-checkbox-154491019.jpg" alt="">
                    </div>
                    <div class="answer d-flex">
                        <p>crazy</p>
                    </div>
                    <div class="answer d-flex">
                        <p>crazy</p>
                    </div>
                    <div class="answer d-flex">
                        <p>crazy</p>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
</body>
<script src="edit.js"></script>
</html>