/* body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 60%;
    background-color: aquamarine;
    margin: auto;
    margin-top: 20px;
}
*/
.choice{
   height: 50%;
    
}
/* .add_quiz, .play_quiz{
    width: 30%;
    height: 40vh;
    background-color: blue;

}  */